@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Rubik:ital,wght@0,300;0,400;0,500;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply active:translate-y-1 rounded-full bg-neutral-800 text-white p-2 w-24 m-1 hover:bg-blue-600 drop-shadow-md font-medium;
  }
  .appUI {
    @apply shadow-lg min-w-96 bg-neutral-900/60 text-white flex flex-col justify-center items-center p-8 m-4 rounded-3xl 	select-none;
  }
}
* {
  @apply transition-colors duration-200;
}

/* #root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
